html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Roboto Slab', serif; /* this should be the rest of the output you got from Google fonts */
}
h1 {
  font-size: 60px;
  text-align: center;
}
h2 {
  text-align: center;
}
p, li {
  font-size: 17px;
  line-height: 2;
  letter-spacing: 1px;
  font-weight: bold;
}
html {
  background-color: #aedef5;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #fffb00;
  padding: 0 25px 25px 40px;
  border: 5px solid rgb(22, 10, 184);
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 2px black;
}
img {
  display: block;
  margin: 0 auto;
  width: 475px;
  border: 2px solid rgb(22, 10, 184);
}